.poweredByContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.1rem;
    font-size: x-small;
}

.logoContainer {
    display: flex;
}
.infoLine {
    padding: 10px 2px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: grey;
    padding: 10px 10px;
    justify-content: space-evenly;
}

.infoLine a {
    color: #444;
    text-decoration: none;
    margin-right: 2ex;
}

.infoLine a:hover {
    color: black;
}
